<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotta's Node Express Blog</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href=""><h1>Lotta's NE Blog</h1></a>
            <p>A Lotta Site</p>            
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
           
        </ul>
    </nav>
    <div class="about-page">
        <h1>404 - Oops, this page doesnt exist</h1>
        <p>This is an about page</p>
    </div>
    

</body>
</html>