<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotta's Node Express Blog</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-page">
        <h1>About Lotta</h1>
        <p>This is an about page</p>
    </div>
    

</body>
</html>